h1 {
    text-align:center;
    color:lightpink;
}

body{ 
    background-color:mintcream;
}

h2 {
    text-align: center;
    color: lightpink;
}

h3 {
    text-align:center;
    color:lightpink;
}

.about-text {
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 60px;
    font-size: larger;
}

.topnav {
    background-color: darkgray;
    overflow:hidden;
}

.topnav a {
    float:left;
    color:lightpink;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
    font-size:17px;
}

.topnav a:hover {
    background-color:lightpink;
    color:aliceblue;
}

.topnav a.active {
    background-color:lightpink;
    color:aliceblue;
}

.home-img {
    grid-column:1;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.about-img {
  grid-column:2;
  height:600px;
}

.container {
    display: grid;
}

.img-gallery {
    width:100%;
    max-width:950px;
    margin:0 auto;
    padding:50px 20px;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows:250px;
    grid-auto-flow:dense;
    grid-gap:20px;
}

.img.box{
    position:relative;
    background-color:white;
    overflow:hidden;
}

.img-large-box {
    grid-column:span 2;
    grid-row:span 2;
}

.img-large-box img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

table {
    border:solid 2px lightpink;
    width:90%;
    align-content:center;

}

td {
    border: solid 2px darkgrey;
}

.img-gallery-me {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap: 20px;
}

.img-box-me {
    position: relative;
    background-color: white;
    overflow: hidden;
}

.img-large-box-me {
    grid-column: span 2;
    grid-row: span 2;
}

.img-box-me img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img-large-box-me img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
